/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

}
.mattextarea{
    width: 300px;
    color: white;
}
.mattextarea textarea{
    height: 100px;
}

.matinput{
    width: 300px;
}
.matinput input{
    height: 100px;
}
.grouping-tile{
    margin-top: 10px;
}
.gen-btn{
    width: 300px;
    height: 100px;
}
.result{
    height: 700px;
    border: 2px solid #ff4081;
    border-radius: 6px;
    background-color: white;
    z-index: 10;    
    padding: 10px;
}
//mobile view
@media screen and (max-width: 900px) {

    .result{
        width: 90%;
        margin-left: 1.5%;
    }
}

@media screen and (min-width: 950px) {
   
    .result{
        width: 30%;
        height: 700px;
    
        display: block;
        position: absolute;
        float: left;
        top: 80px;
        left: 10px;

    }
}
